{{#each address}}
<div adr-id="{{id}}" class="address col-3 bg-white p-3 mx-2 d-flex flex-column border rounded overflow-hidden shadow-sm">
    <p class="mb-1">{{name}} {{phone}}</p>
    <small class="mb-0">{{area}}</small>
    <small class="mb-0">{{detailAddress}}</small>
    <a href="#" class="stretched-link address-link"></a>
</div>
{{/each}}