<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>商品名</th>
        <th>原价(邮费)</th>
        <th>分类</th>
        <th>首页顺序</th>
        <th>剩余库存</th>
        <th>开售时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{#each products}}
        <tr>
            <td><img class="border rounded overflow-hidden" width="80" height="80" src="{{thumbnail.url}}" alt="商品描述"></td>
            <td>{{name}}</td>
            <td>¥ {{price}} (¥ {{mailPrice}})</td>
            <td>{{category.name}}</td>
            <td>{{indexOrder}}</td>
            <td>{{storage.rest}}</td>
            <td>{{startSellTimeReadable}}</td>
            <td>
                <button class="btn btn-success btn-edit btn-sm" product-id="{{id}}">编辑</button>
                <button class="btn btn-secondary btn-meta btn-sm" product-id="{{id}}">其他</button>
                <button class="btn btn-danger btn-remove btn-sm" product-id="{{id}}">移除</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>