<div class="d-flex align-items-center p-3 my-3 border rounded shadow-sm">
    <img class="mr-3" src="{{info.avatar.url}}" alt="用户头像" width="48" height="48">
    <div class="lh-100">
        <h6 class="mb-0 lh-100">{{info.auth.phone}}</h6>
        <small>别来无恙！</small>
    </div>
</div>

<div class="row no-gutters flex-md-row mb-3 h-md-250 position-relative">
    <div class="col bg-white p-3 mr-2 d-flex flex-column border rounded overflow-hidden shadow-sm">
        <h3 class="mb-0 text-center">{{orderCount.toPay}}</h3>
        <small class="d-inline-block text-secondary text-center">待付款</small>
        <a class="stretched-link" href="order.html?type=0"></a>
    </div>
    <div class="col bg-white p-3 ml-2 mr-2 d-flex flex-column border rounded overflow-hidden shadow-sm">
        <h3 class="mb-0 text-center">{{orderCount.toDeliver}}</h3>
        <small class="d-inline-block text-secondary text-center">待发货</small>
        <a class="stretched-link" href="order.html?type=1"></a>
    </div>
    <div class="col bg-white p-3 ml-2 d-flex flex-column border rounded overflow-hidden shadow-sm">
        <h3 class="mb-0 text-center">{{orderCount.toComment}}</h3>
        <small class="d-inline-block text-secondary text-center">待评价</small>
        <a class="stretched-link" href="order.html?type=2"></a>
    </div>
</div>