<table class="table table-striped">
    <thead>
    <tr>
        <th>姓名</th>
        <th>手机</th>
        <th>地区</th>
        <th>详细地址</th>
        <th>邮编</th>
        <th>默认地址</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{#each addresses}}
        <tr>
            <td>{{name}}</td>
            <td>{{phone}}</td>
            <td>{{area}}</td>
            <td>{{detailAddress}}</td>
            <td>{{mailCode}}</td>
            {{#if defaultAddress}}
                <td>是</td>
            {{else}}
                <td>否</td>
            {{/if}}
            <td>
                <button class="btn btn-primary btn-set-default btn-sm" address-id="{{id}}">设为默认</button>
                <button class="btn btn-success btn-edit btn-sm" address-id="{{id}}">编辑</button>
                <button class="btn btn-danger btn-remove btn-sm" address-id="{{id}}">移除</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>